* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 800px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 15px;
}



body {
    background-color: #f5EDD8;
}


ul {
    list-style: none;
}

#menulist {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

#menulist li a {
    display: block;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    font-family: "Ubuntu", sans-serif;
}

#menulist li a:hover {
    background-color: #f5a8a8;
    transform: scale(1.1);

}


#menulist li a:target {
    background-color:#94044A;
    color: #fff;

}

h1 {
    color:#94044A;
   font-family: "Ubuntu", sans-serif;
}